.container{
    width: 100%; height: 640px;
}
.top{
    margin-top:5px;
    width:100%; height:30px;
    background-color: teal;
    font-size:20px;
    text-align: center;
    border-radius: 10px;
}
.title{
    width:50%;
    padding-bottom:10px;
    border-bottom: 3px solid black;
    border-bottom-style: dotted;
    margin-bottom:10px;
}
.btn1{
    width:60px; height:30px;
    float:left;
    margin-left:10px;
    margin-top:-27px;
    font-size:15px;
    border-radius:5px;
    border:1px solid black;
    text-align:center;
}
.add_store{
    width:40%;
    margin-top: 10px;
    background-color:paleturquoise;
    border-radius:10px;
    margin:auto;
    text-align: center;
    
}
strong{
    font-size:30px;
}
.dropdown{
    float:left;
    margin-top:-38px;
    margin-left:60px;
}
ul{
    font-size:10px;
}
.place{
    width:100%; height:80px;
    background-color: gainsboro;
    display: grid;
    grid-template-columns: 3fr 2fr;
    margin-top: 10px;
}
.rating{
    text-align: right;
}
.checked {
    color: orange;
  }
a{
    text-decoration:none !important ;
    color: black !important ;
}
  
  
  
