.container{
    width: 100%; height: 640px;
}
.banner{
    width:100%; height:90px;
    background-color: teal;
    text-align: center;
    border-radius: 10px;
}
#btn{
    margin-left:5px;
    color: white;
    background-color:black;
    border-radius: 10px;
    border:0px;
}
.icon_box{
    width:100%; height:160px;
    grid-template-columns: repeat(5, 1fr);
    display: inline-grid;
    display: grid;
    border: 2px solid  teal;
    text-align: center;
    margin-top: 5px;
    border-radius: 5px;
}
a{
  text-decoration: none;
  color: black;
}
.flaticon-bibimbap:before,.flaticon-tuna:before,.flaticon-dumpling:before,.flaticon-pizza:before,.flaticon-fish-cake:before,.flaticon-coffee-beans:before,
.flaticon-scooter:before,.flaticon-eat:before,.flaticon-clock:before,.flaticon-restaurant:before{
    font-size:50px;
}
#review{
    width:100%; height: 20px;
    margin-top: 10px;
}
.checked {
  color: orange;
}
.date{
    float: right;
    font-size: 10px;
}
.text{
    width: 99%; height:100px;
    margin:auto;
    border: 2px solid black;
    border-radius: 5px;
}
.reviewbox{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%; height:150px;
    background-color: gainsboro;
    border-radius: 8px;
}

