.cotainer{
    width:100%; height: 640px;
}
.btn1,#show,.address,.time,#plus{
    float:right;
}
.title{
    text-align:center;
    font-size:35px;
}
b{
    font-size:40px;
}
.checked {
    color: orange;
}
table{
    width:100%; height: 20px;
}
td{
    border:1px solid gainsboro;
    background-color: gainsboro;
    text-align:center;
}
#share{
    width:50%;
}
.information,.menubox{
    border-bottom:1px solid black;
}
.infromation,.menubox,.reviewbox{
    margin-top:10px;
}
#show,#show2{
    text-decoration: none;
    text-align:center;
}
#hide1{
    font-size:13px;
}
.text1{
    border-top:1px solid salmon;
    border-bottom:1px solid salmon;
}
.text2{
    height:55px;
}
.text3{
    border-bottom:1px solid salmon;
}
.menu,#show2,#hide2{
    text-align:center;
}.review{
    width: 100%; height: 110px;
    background-color: gainsboro;
    /*display:grid;
    grid-template-columns: repeat(5, 1fr); (이전에는 1fr 3fr)*/
}
/*.rating{
  grid-column: 1/4;
  grid-row: 1;
}*/
.comment{
    /*grid-column: 3/4;
    grid-row: 1;*/
    border-left:1px solid black;
}
strong{
   font-size: 20px;
}
#hide1,.menu,.review,table{
    margin-top:10px;
}
