.cotainer{
    width:100%; height: 640px;
}
.top{
    width:100%; height:30px;
    background-color: teal;
    font-size:20px;
    text-align: center;
    border-radius: 10px;
}
.btn1{
    width:60px; height:20px;
    float:left;
    margin-left:10px;
    margin-top:-21px;
    font-size:15px;
    border-radius:5px;
    border:1px solid black;
    text-align:center;
}
#show,.address,.time,#plus{
    float:right;
}
.title{
    text-align:center;
    font-size:35px;
}
.name{
    font-size:40px;
}
.checked {
    color: orange;
}
table{
    width:100%; height: 20px;
}
td{
    border:1px solid gainsboro;
    background-color: gainsboro;
    text-align:center;
    padding: 5px;
}
#share{
    width:50%;
}
.information{
  margin-top:10px;
  border-top:1px solid black;
  padding: 10px;
}
.menubox{
    border-top:1px solid black;
    border-bottom:1px solid black;
    padding: 10px;
}
.reviewbox{
  padding: 10px;
}
#show,#show2{
    text-decoration: none;
    text-align:center;
}
#hide1{
    font-size:13px;
}
.text1,.text3{
    border-top:1px solid salmon;
    border-bottom:1px solid salmon;
}
.text2{
    overflow:hidden;
    height:auto;
}
.menu,#show2,#hide2{
    text-align:center;
}
.review{
    width: auto;
    padding: 10px;
    height: 110px;
    background-color: gainsboro;
}
.comment{
    margin-top : 5px;
}
strong{
   font-size: 20px;
}
#hide1,.menu,.review,table{
    margin-top:10px;
}
.buttons{
    display:flex;
    flex-direction: row;
    float: right;
    margin: 10px;
}
a{
    text-decoration:none !important;
    color: black;
}
.menu_name{
  float: left;
}
.menu_price{
  float: right;
}
