.container{
  width: 100%; height:640px;
  margin: auto;
}
.top{
  width:100%; height:30px;
  background-color: teal;
  font-size:20px;
  text-align: center;
  border-radius: 10px;
}
.btn1{
  width:60px; height:30px;
  float:left;
  margin-left:10px;
  margin-top:-27px;
  font-size:15px;
  border-radius:5px;
  border:1px solid black;
  text-align:center;
}
h1{
  text-align: center;
  margin-bottom: 0px;
}
.border{
  border-bottom:2px solid gainsboro;
}
fieldset{
  width:240px;
  margin:auto;
}

.star-cb-group {
  /* remove inline-block whitespace */
  font-size: 0;
  /* flip the order so we can use the + and ~ combinators */
  unicode-bidi: bidi-override;
  direction: rtl;
  /* the hidden clearer */
}
.star-cb-group * {
  font-size: 3rem;
}
.star-cb-group > input {
  display: none;
}
.star-cb-group > input + label {
  /* only enough room for the star */
  display: inline-block;
  overflow: hidden;
  text-indent: 9999px;
  width: 1em;
  white-space: nowrap;
  cursor: pointer;
}
.star-cb-group > input + label:before {
  display: inline-block;
  text-indent: -9999px;
  content: "★"; 
  color: black;
}
.star-cb-group > input:checked ~ label:before, .star-cb-group > input + label:hover ~ label:before, .star-cb-group > input + label:hover:before {
  content: "★"; 
  color: orange;
  text-shadow: 0 0 1px #333;
}
.star-cb-group > .star-cb-clear + label {
  text-indent: -9999px;
  width: .5em;
  margin-left: -.5em;
}
.star-cb-group > .star-cb-clear + label:before {
  width: .5em;
}
.star-cb-group:hover > input + label:before {
  content: "★"; 
  color: black;
  text-shadow: none;
}
.star-cb-group:hover > input + label:hover ~ label:before, .star-cb-group:hover > input + label:hover:before {
  content: "★"; 
  color:orange;
  text-shadow: 0 0 1px #333;
}
textarea{
  resize:none;
  width: 100%
}



  
